::root {
  /*color variable*/
  --light:#fdfffc;
  --dark:#020100;
  --accent:#ed1c24;

  --
}

body {
  margin:0;
  padding:0;
  border-box:box-sizing
}
.nav {
  background-color: black; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  text-decoration :none;
}

