  *{
    margin:0;
  padding:0;
    box-sizing :border-box ;
    
  }
::root {
            --primary: #00ff88;
            --dark: #121212;
            --light: #ffffff;
            --gray: #2a2a2a;
            --ff:"moto sans jp",serif;
            --ff2:"Fira sans",serif;
            /* the spaces are here to create a consistent layout*/
            --p:1rem/1.5em var(--ff);
            --h1:600 3rem/1.2 em var(--ff2);
            --h2:600 2rem/1.2 em var(--ff2);
            --spacing1:4px;
            --spacing2:8px;
            --spacing3:16px;
            --spacing4:20px;
            --spacing5:40px;
            --spacing6:80px;
            --spacing7:160px;
        }
/* defining Global variables *\
html{
  scroll-behaviour:smooth;
}
body {
  
  font:var(--ff);
  background:var(--light) ;
  color:var(--dark)
  text-wrap:balance;
}
.nav {
  background-color: black; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  text-decoration :none;
}

